# General
__pycache__/
*.py[cod]
*$py.class
.DS_Store
backend/data/*
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Distribution / Packaging
dist/
build/
*.egg-info/
.eggs/

# Testing / Code Quality
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.tox/

# Logs
*.log

# Local settings
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints
